{deps, [
    {lfe, {git, "https://github.com/lfe/lfe.git", {tag, "2.1.2"}}}
]}.

{plugins, [
    {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {tag, "0.4.8"}}}
]}.

{overrides, [
    {override, rebar3_lfe, [
        {plugins, []}
    ]}
]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
]}.

{lfe_opts, [
    {include_dirs, ["include"]}
]}.

{profiles, [
    {test, [
        {deps, [
            {ltest, {git, "https://github.com/lfex/ltest.git", {tag, "0.13.5"}}}
        ]}
    ]}
]}.