{<<"app">>,<<"ltest">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"A Testing Framework for LFE">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include">>,<<"include/ltest-macros.lfe">>,
  <<"include/ltest-records.lfe">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src">>,<<"src/ltest-color.lfe">>,<<"src/ltest-const.lfe">>,
  <<"src/ltest-formatter.lfe">>,<<"src/ltest-integration.lfe">>,
  <<"src/ltest-listener.lfe">>,<<"src/ltest-runner.lfe">>,
  <<"src/ltest-system.lfe">>,<<"src/ltest-unit.lfe">>,
  <<"src/ltest-util.lfe">>,<<"src/ltest.app.src">>,<<"src/ltest.lfe">>]}.
{<<"licenses">>,[<<"BSD-3">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/lfex/ltest">>},
  {<<"Hex">>,<<"https://hex.pm/packages/ltest">>}]}.
{<<"name">>,<<"ltest">>}.
{<<"requirements">>,
 [{<<"erlang_color">>,
   [{<<"app">>,<<"erlang_color">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.0.0">>}]},
  {<<"lfe">>,
   [{<<"app">>,<<"lfe">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"2.1.2">>}]}]}.
{<<"version">>,<<"0.13.5">>}.
