{<<"app">>,<<"rebar_cmd">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Run custom shell commands as rebar3 tasks">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/rebar_cmd.app.src">>,<<"src/rebar_cmd.erl">>,
  <<"src/rebar_cmd_prv.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/shezarkhani/rebar_cmd">>}]}.
{<<"name">>,<<"rebar_cmd">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.2.6">>}.
