{<<"app">>,<<"lfe">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Lisp Flavored Erlang (LFE)">>}.
{<<"files">>,
 [<<"Emakefile">>,<<"LICENSE">>,<<"Makefile">>,<<"README.md">>,<<"bin">>,
  <<"bin/lfe">>,<<"bin/lfe-first-try">>,<<"bin/lfe-test">>,<<"bin/lfec">>,
  <<"bin/lfedoc">>,<<"bin/lfeexec">>,<<"bin/lfescript">>,<<"c_src">>,
  <<"c_src/lfeexec.c">>,<<"get_comp_opts.escript">>,<<"include">>,
  <<"include/cl.lfe">>,<<"include/clj.lfe">>,<<"include/match-spec.lfe">>,
  <<"include/scm.lfe">>,<<"rebar.config">>,<<"rebar.config.script">>,
  <<"rebar.lock">>,<<"src">>,<<"src/ChangeLog">>,<<"src/NOTES">>,
  <<"src/cl.lfe">>,<<"src/clj.lfe">>,<<"src/lfe.app.src">>,<<"src/lfe.erl">>,
  <<"src/lfe.hrl">>,<<"src/lfe_abstract_code.erl">>,<<"src/lfe_bits.erl">>,
  <<"src/lfe_codegen.erl">>,<<"src/lfe_codelift.erl">>,<<"src/lfe_comp.erl">>,
  <<"src/lfe_comp.hrl">>,<<"src/lfe_docs.erl">>,<<"src/lfe_docs.hrl">>,
  <<"src/lfe_edlin_expand.erl">>,<<"src/lfe_env.erl">>,<<"src/lfe_eval.erl">>,
  <<"src/lfe_eval_bits.erl">>,<<"src/lfe_gen.erl">>,<<"src/lfe_init.erl">>,
  <<"src/lfe_internal.erl">>,<<"src/lfe_io.erl">>,<<"src/lfe_io_format.erl">>,
  <<"src/lfe_io_pretty.erl">>,<<"src/lfe_io_write.erl">>,
  <<"src/lfe_lib.erl">>,<<"src/lfe_lint.erl">>,<<"src/lfe_macro.erl">>,
  <<"src/lfe_macro.hrl">>,<<"src/lfe_macro_export.erl">>,
  <<"src/lfe_macro_include.erl">>,<<"src/lfe_macro_record.erl">>,
  <<"src/lfe_macro_struct.erl">>,<<"src/lfe_ms.erl">>,<<"src/lfe_parse.erl">>,
  <<"src/lfe_parse.spell1">>,<<"src/lfe_qlc.erl">>,<<"src/lfe_scan.erl">>,
  <<"src/lfe_scan.xrl">>,<<"src/lfe_shell.erl">>,<<"src/lfe_shell_docs.erl">>,
  <<"src/lfe_struct.erl">>,<<"src/lfe_translate.erl">>,
  <<"src/lfe_types.erl">>,<<"src/lfescript.erl">>,<<"src/scm.erl">>]}.
{<<"licenses">>,[<<"Apache">>]}.
{<<"links">>,
 [{<<"Documentation">>,<<"https://lfe.io/use/#reference">>},
  {<<"Github">>,<<"https://github.com/lfe/lfe">>},
  {<<"Main site">>,<<"https://lfe.io/">>}]}.
{<<"name">>,<<"lfe">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"2.1.2">>}.
